{% extends "base.html" %}
{% block title %}Iniciosesion{% endblock %}

{% block body %}
    <div class="card text-center border-dark mb-3" style="width: 25rem;">
         <div class="card-body">
            <h2>Bienvenido</h2>
             <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                    {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Siguiente">
            </form>
         </div>
        <div class="card-footer">
            <p class="text-dark">¿No tiene cuenta?</p>
            <a class="btn btn-primary" href="new_account.html" role="button">Crear cuenta</a>
        </div>
    </div>
{% endblock %}