{% extends "base.html" %}

{%block title%}Perfil{% endblock %}

{% block director %}

    director

   <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="/crearcomentario/" class="btn btn-primary">Crear nota</a>
    </li>
     <li class="list-group-item">
      <a href="/" class="btn btn-primary">Ver notas</a>
    </li>
    <li class="list-group-item">
    <a href="/asistencia/" class="btn btn-primary">Ver asistencias</a>
    </li>
    <li class="list-group-item">
         <a href="/calificaciones/" class="btn btn-primary">Ver rendimiento académico</a>
    </li>
  </ul>
</div>
{% endblock %}
