{% extends 'base.html' %}

{% block title %}Asistencias{% endblock %}

{% block content %}
<div class="container">
    <label for="inputCurso">Año</label>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">6</button>
  </div>
</div>


    <label for="inputCurso">Curso</label>
         <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">A</button>
        <button type="button" class="btn btn-secondary">B</button>
        <button type="button" class="btn btn-secondary">C</button>
        <button type="button" class="btn btn-secondary">D</button>
         </div>
    </div>
</div>

<div class="container-fluid">
  <form action="{% url 'lista' %}"  method="post">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">PRESENCIA</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                 <td>{{ student.last_name }}</td>
                <td>
                    <label>
                        <input type="checkbox"/>
                        <span>Presente</span>
                            {% csrf_token %}
                            {{ form.as_p }}
                    </label>
                 </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
     <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
{% endblock %}