{% extends "base.html" %}
{% block content %}

{#    <div class="card-columns">#}
{#    {% for comment in comments %}#}
{##}
{##}
{#     <div class="card">#}
{#    <div class="card-body">#}
{#      <h5 class="card-title">{{ comment.student }}</h5>#}
{#      <p class="card-text">{{ comment.description }}</p>#}
{#      <p class="card-text">#}
{#          <small class="text-muted">{{comment.date}}</small></p>#}
{#        <small class="text-muted">{{comment.categories}}</small></p>#}
{#    </div>#}
{#         {% endfor %}#}
{#  </div>#}
    <div class="card-columns">
    {% for comment in comments %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ comment.student }}</h5>
      <p class="card-text">{{ comment.description }}</p>
    </div>
      <div class="card-footer">
                    <small class="text-muted">{{comment.date}}</small>
                    <small class="text-muted">{{comment.categories}}</small>
                </div>

  </div>
    {% endfor %}
</div>


{% endblock %}