{% extends "base.html" %}

{% block title %}Crear Comentario{%  endblock %}

{% block form %}
    <div class="col col-xl-10">
        <div class="card text-center border-dark mb-3 col">
            <form action="{% url 'create_comment' %}"  class="m-3" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit" value="Guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>





{% endblock %}