{% extends "base.html" %}

{% block title %}Información del Alumno{% endblock %}

{% block content %}
    <div class="container-fluid border border-secondary">
        <div class="card-header h3">
            {{ student.first_name }}, {{ student.last_name }}</div>
            <div class="row card-body">
                <div class="col">
                <h5 class="card-title">Fecha de nacimiento</h5>
                     <p class="card-text">{{ student.birthday }}</p>
                </div>
             <div class="col">
                  <h5 class="card-title">Curso</h5>
                    <p class="card-text">{{ student.course}}</p>
                </div>
                <div class="col">
                 <h5 class="card-title">Números de emergencia</h5>
                    <div class="row">
                         {% for phone in student.phone.all.values %}
                             <div class="col">
                                <p class="card-text">{{ phone.number }} </p>
                             </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
    </div>


    <div class="card-columns">
              {% for comment in comments %}
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{comment.student}}</h5>
                    <p class="card-text">{{comment.description }}</p>
                </div>


                <div class="card-columns">
                    {% for comment in comments %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.student }} </h5>
                                <p class="card-text">{{ comment.description }} </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{comment.date}}</small>
                                <small class="text-muted">{% for category in comment.categories.all.values %} {{ category.name }} {% endfor %}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
                {% endfor %}
            </div>


{% endblock %}