{% extends 'base.html' %}

{% block title %}Subir Calificacion{% endblock %}

{% block form %}
<div class="card text-center border-dark mb-4">
  <form action="{% url 'upgrade_note' %}"  method="post">
        <br>
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
      <button class="btn btn-primary userbtn" type="submit" value="Guardar">Guardar</button>
  </form>
</div>
{% endblock %}