{% extends "base.html" %}

{% block title %}Ver Notas{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <label for="inputCurso">Año</label>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">1</button>
                    <button type="button" class="btn btn-secondary">2</button>
                    <button type="button" class="btn btn-secondary">3</button>
                    <button type="button" class="btn btn-secondary">4</button>
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                 </div>
             </div>
        </div>
        <div class="col">
            <label for="inputCurso">Curso</label>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">A</button>
                    <button type="button" class="btn btn-secondary">B</button>
                     <button type="button" class="btn btn-secondary">C</button>
                    <button type="button" class="btn btn-secondary">D</button>
                </div>
             </div>
        </div>
        <div class="col col-3">
            <div class="form-group">
                 <label for="inputState">Materia</label>
                    <select id="inputState" class="form-control col-md-6">
                         <option selected></option>
                         <option>Matemática</option>
                         <option>Lengua</option>
                     </select>
             </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Alumnos</th>
            <th scope="col">1º Trimestre</th>
            <th scope="col">2º Trimestre</th>
            <th scope="col">3º Trimestre</th>
            <th scope="col">Calificación Final</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ Student.name }}</th>
            <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
             <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
             <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                 </div>
            </th>
            <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="row">{{ Student.name }}</th>
            <th>
                <div class="row justify-content">
                     <div class="col col-sm-2">5</div>
                </div>
            </th>
            <th>
                <div class="row justify-content">
                     <div class="col col-sm-2">5</div>
                </div>
            </th>
             <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
            <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>

        </tr>
        <tr>
            <th scope="row">{{ Student.name }}</th>
             <th>
               <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
               </div>
            </th>
            <th>
                <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
            <th>
               <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
            <th>
               <div class="row justify-content">
                    <div class="col col-sm-2">5</div>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid">
  <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title">Curso A</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Porcentaje de cumplimiento</h6>
                     <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                          style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>
                </div>
            </div>
         </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title">Curso B</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Porcentaje de cumplimiento</h6>
                     <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar"
                          style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                     </div>
                 </div>
         </div>
    </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title">Curso C</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Porcentaje de cumplimiento</h6>
                     <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar"
                          style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                     </div>
                 </div>
         </div>
    </div>

    <div class="col">
         <div class="card">
                 <div class="card-body">
                     <h5 class="card-title">Curso D</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Porcentaje de cumplimiento</h6>
                     <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar"
                          style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                     </div>
                 </div>
         </div>
    </div>
  </div>
</div>
{% endblock %}