{% extends "base.html" %}

{% block title %} Crear comentario {%  endblock %}
{% block form %}
    <div class="card text-center border-dark mb-3">
        <form action="{% url 'create_comment' %}"  method="post">
            {% csrf_token %}
                <br>
                 {{ form.as_p }}
                <a href="director_userprofile.html">
                     <button class="btn btn-primary" type="submit" value="Guardar">Guardar</button>
                </a>
                <br>
        </form>
    </div>
{% endblock %}